<?xml version="1.0" encoding="utf-8"?>
<CDMSRegionConfig>
  <CompanyName>CDMS2</CompanyName>
  <CompanyDescription>
  </CompanyDescription>
  <Contactor>
  </Contactor>
  <Phone>
  </Phone>
  <Email>
  </Email>
  <Context>
  </Context>
  <Computer>TMwa8UPeeRyqOi4TZQea2qtnKeYcPxcPda3vJn8maqhgP3o0fRU2MnlWtlobCsRNy9K6a7M8bH9M4u2oFOWPW8RVfo9GIUb1xuZKE3DGpstFkEnL0P9ckR4hOba6LAtJIfMgtZf54JcCmZfwtqId6E8Ss6kBTeRvGOK6fC/sjzk5GZKhcYykIt6iR5v8aj6usaNvsUBb24DiJymjmQdugOOhHjyw==qVqF7H8mg5Le5Zu4VGX5eTlkJ0bRZWmkB</Computer>
  <Valid>2030/7/2 17:29:59</Valid>
  <Users>999</Users>
  <Register>7e1KlF2KG8e2ICuBXVDycg4v6o836ajOkY7iLRaCR3ri2zvvm4ZOscZLSRJ7hMtcbKEnXwH+YQ==X/FGague8raKgX5snASFZg==0vc50NN2c3sAMkTlv35gJBtDe36JlRcjbvSzt/rn4v4=MAApBejcanT1JyizgaZhI5XcuNXD1jV9SvqdyB/1C6M=lQGwbnTURBGtPIBUcJFZhng1yZAjr0qVroSkr6jIMBAbFZDLckfvBNJNdOjLIsyW</Register>
</CDMSRegionConfig>