@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <style type="text/css">
        .main{
            text-align: center; /*让div内部文字居中*/
            background-color: #fff;
            border-radius: 20px;
            width: 300px;
            height: 350px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        </style>
        </head > 
            <body > 
                <!--<hgroup > -->
            <!--<h1 > 错误。</h1 >-->
                <div class="main">
                    <img src="/Images/PreviewError.png" width="200" height="150" />
                    <p> 文件暂不支持预览，请直接下载查看</p>
                </div>

    <!--</hgroup >-->
     </body >
 </html >
