<?xml version="1.0" encoding="utf-8"?>
<CDMSRegionConfig>
  <CompanyName>LFCDMS</CompanyName>
  <CompanyDescription>
  </CompanyDescription>
  <Contactor>
  </Contactor>
  <Phone>
  </Phone>
  <Email>
  </Email>
  <Context>
  </Context>
  <Computer>yHCCJHv8PUdiaXkrG6RStfqGpYoAtPeb5PYmUKxqN0NyFqxf5lelyZEux8acERQtpXt5mPmOi4JU1Li1HWgpxkrYOvIFSQMhNdqyTrqMolhejDI2OAVNthsu1TKdlDbBW8S1NXtoHX2BLrd0Mb1HsLEUcy1yh50UWuwO54qEYV+OYRWCNoakpT3hmHEU1AbOJaux0CodMIPCm8emr6M3UJ6p4cLw==6Cf1VhGGyNsHq3XVJ3pRsOqAx29wmgLwy</Computer>
  <Valid>2020-12-31 8:47:00</Valid>
  <Users>999</Users>
  <Register>hq72EPMyP5ESIKCtb5mM4Endkh2UHizfH3mcQigOawvb/yzKlEC4/yiXJDjbXTu0QSduif2rYw==X/FGague8raKgX5snASFZg==m42+RlwtkTYU882j5mMjRlAgqG1MJO1GDsZYstOd/oQ=MAApBejcanT1JyizgaZhI5XcuNXD1jV9SvqdyB/1C6M=xtsA9xQb9QmHABlNpDWwQrNHt1pqboKdUpwuYeCf2BqkWSyaJ1rbdveYcdH8gvFY</Register>
</CDMSRegionConfig>