<?xml version="1.0" encoding="utf-8"?>
<CDMSRegionConfig>
  <CompanyName>WJ000663</CompanyName>
  <CompanyDescription>
  </CompanyDescription>
  <Contactor>
  </Contactor>
  <Phone>
  </Phone>
  <Email>
  </Email>
  <Context>
  </Context>
  <Computer>m1IHI6CX4meka5JtO5OFtxpEJXSfyYdn1Rjre1OLcFW7TUaqrhjQnMNI4ByODc1A1x4PRINWjr29n5cvHOqEJmn3B9MMxfVltpb40IPNBQN79xr6rm1i50PWfsJgiHf9CnQxY32mKar0xJZZDyijxq1BYPpWa6LJvc3Y4kqvgAgNAnifpprABKhmMpbJ1TnBJ9DCvQU++7Cdt8EXXu1tFbGrpsOw==AnTTWPTGvy4tfqItDXbCLFfwTqBY0UdLg</Computer>
  <Valid>2050/7/19 17:15:53</Valid>
  <Users>999</Users>
  <Register>DiXNYXKeQhm8oKdKTNBtJGoZH4j2h7RXtqHujewWmFjgdlWSEykw6nxKQekm/+Ve9vMDdo0VBA==X/FGague8raKgX5snASFZg==k9OybE0lFuy8VYrhXvpZGeQdkGHcosMGfNZP9TTLS70=MAApBejcanT1JyizgaZhI5XcuNXD1jV9SvqdyB/1C6M=cBP95C1sdI7ySB7anDmbUn0NhHR5TeUjEBvCC34BBX7cWtvd418iRe6vv8YHkjPw</Register>
</CDMSRegionConfig>