<?xml version="1.0" encoding="utf-8"?>
<CDMSRegionConfig>
  <CompanyName>WIN-ADCOED4N6IA</CompanyName>
  <CompanyDescription>
  </CompanyDescription>
  <Contactor>
  </Contactor>
  <Phone>
  </Phone>
  <Email>
  </Email>
  <Context>
  </Context>
  <Computer>cTMcUH3NnbF7kBnP11q0DDr8vX4PIfGXMqvwTbysb9uNiaDvUHKE2bPPgyFi5PrgQKIsT1YTGr5AgnotNWTp3IQMH5tNUxKC3yiNFW6TDKDiV53uPT1NitQydgA7iWD66K6fD0TH0iRPECg7umpwSpsgkcyl0UVrAi6aS6A/khb6v+7JGRfT1fJDX/y3iCZNBg9XbI9mdYEBegFc5otHesG1lkqA==QqRW9UIGBLyclqDPvXEE3Pfq2r0h2GsJw</Computer>
  <Valid>2030/12/30 15:16:21</Valid>
  <Users>999</Users>
  <Register>vjIOQY8dkAG0RfUXdlr47gvfOgqYHJDQ9sDkbygJLyP6xkufb/15Q4osaFSDMHWXNfq1RhflSA==X/FGague8raKgX5snASFZg==futDLH2wWFP+5bWHOJAUtANf3QpWL620p9d1Z8VXifM=MAApBejcanT1JyizgaZhI5XcuNXD1jV9SvqdyB/1C6M=5jpKFWrR26w6Xpq6XOA882HnCnJVq2VgVsBiMY4yK4WtJhmt5cZra8vADiYEDJy8</Register>
</CDMSRegionConfig>