<?xml version="1.0" encoding="utf-8"?>
<CDMSRegionConfig>
  <CompanyName>ICDMS</CompanyName>
  <CompanyDescription>
  </CompanyDescription>
  <Contactor>
  </Contactor>
  <Phone>
  </Phone>
  <Email>
  </Email>
  <Context>
  </Context>
  <Computer>2KKPMStwRMgVAJKIb7NSLVAhrJBM6Vu1033Q3erIVYfWD7qWypJGXQbudk6bOPOuha4eogTGXj1LtwUAMAnNnHqRj6GMuVEStlqW1xfKnVqmms2IbLIn3jKZ4r31QFy56ayI8CDeOMkVy1BfkWuofJy4mtf7JseD0QLGeIqEYV+OYRWCP9iUe5HWfIztzO7tcU3eKdDhcBGx+zkWKrp0/ZodXI2Q==pnnMkRDrZmkhWiRDsBvU3SVTjBRW1eJQD</Computer>
  <Valid>2020-12-31 15:00:59</Valid>
  <Users>999</Users>
  <Register>rsxNwjet0grfLrmcKEgl4Endkh2UHiz/QX/D++uN4W3wII2DoykY9pz820H7JYPmKg4P5H010g==X/FGague8raKgX5snASFZg==m42+RlwtkTYU882j5mMjRlAgqG1MJO1GDsZYstOd/oQ=MAApBejcanT1JyizgaZhI5XcuNXD1jV9SvqdyB/1C6M=pDAWodQ8f5ln34JC7pC4JiNyt5oSxtHMB9EWCDcPF3v532kEvLnMTU0dmGPNHTon</Register>
</CDMSRegionConfig>