<?xml version="1.0" encoding="utf-8"?>
<CDMSDataSourceConfig>
  <!--端口号-->
  <PORT>
    <HTTPPORT>8086</HTTPPORT>
    <TCPPORT>8085</TCPPORT>
    <FTPPORT>8087</FTPPORT>
  </PORT>
  <!--FTP数据传输端口 CDMSClient组件里面使用3333端口连接的时候传输数据使用下列端口efdsw002-PC-->
  <!--server=127.0.0.1;database=I3VHD;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True-->
  <!--server=127.0.0.1;database=BIM-TBS;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True-->
  <!--server=127.0.0.1;database=GPDICDMS190814;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True-->
  <!--server=127.0.0.1;database=WTMS;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True-->
  <!--server=127.0.0.1;database=GJEPCMS;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True-->
  <DATAPORT>8089,8081-8084</DATAPORT>
  <!--是否打包为一个数据源-->
  <PackOneDataBase>false</PackOneDataBase>
  <CDMSDataSource>
    <DBSourceCode>GJEPCMS</DBSourceCode>
    <DBSourceDesc>发电项目</DBSourceDesc>
    <!--<DBConnectionString>server=127.0.0.1;database=GJEPCMS200227;uid=sa;pwd=CDMS_12345;MultipleActiveResultSets=True</DBConnectionString>-->
    <DBConnectionString>server=.;database=GJEPCMS;uid=sa;pwd=JoeChou900215;MultipleActiveResultSets=True</DBConnectionString>
    <DBAppServerIP>efdsw002-PC</DBAppServerIP>
    <DBAppServerName>HZX</DBAppServerName>
  </CDMSDataSource>
 
  <!--文件上传、下载流量控制-->
  <BandwidthControl>
	<!--总上传带宽，单位：Bps，范围在102400 到 102400000-->
	<UploadBpsTotal>204800</UploadBpsTotal>
	<!--总下载带宽，单位：Bps，范围在102400 到 102400000-->
	<DownloadBpsTotal>204800</DownloadBpsTotal>
  </BandwidthControl>
  <!--DWG转换PDF程序所在的路径,路径的最后面不要加斜杠"\"-->
  <DwgToPdfProcessPath>d:\ConvertDwgToPdf2</DwgToPdfProcessPath>
  
  <!--文档打包节点-->
  <PackType>
    <!--文件自动打包的功能-->
    <Entry>
      <Type>DOC</Type>
      <MainFile>[filename].doc</MainFile>
      <AttachFile>[filename]ABC.*</AttachFile>
      <AttachFile>[filename].*</AttachFile>
      <ContextID>DOC</ContextID>
      <IsDoc>true</IsDoc>
    </Entry>
    <Entry>
      <Type>DWG</Type>
      <MainFile>[filename].dwg</MainFile>
      <AttachFile>[filename].*</AttachFile>
      <ContextID>DWG</ContextID>
    </Entry>
    <Entry>
      <Type>XLS</Type>
      <MainFile>[filename].xls</MainFile>
      <AttachFile>[filename].*</AttachFile>
      <ContextID>xsl</ContextID>
    </Entry>
    <!--VNET同步配置的打包文件-->
    <Entry>
      <Type>PID图</Type>
      <MainFile>[filename].svg</MainFile>
      <AttachFile>[filename]_xmplant.xml</AttachFile>
      <ViewFile>[filename].svg</ViewFile>
      <ExportFile>[filename].vnet</ExportFile>
      <ContextID>
      </ContextID>
    </Entry>
    <Entry>
      <Type>三维模型</Type>
      <MainFile>[filename].rvm</MainFile>
      <AttachFile>[filename].rvs</AttachFile>
      <ViewFile>
      </ViewFile>
      <ExportFile>[filename].vnet</ExportFile>
      <ContextID>VPD </ContextID>
    </Entry>
    <Entry>
      <Type>ISO图</Type>
      <MainFile>[filename].plt</MainFile>
      <AttachFile>[filename].hit</AttachFile>
      <AttachFile>[filename].dxf</AttachFile>
      <AttachFile>[filename]-ISO_VPD.xml</AttachFile>
      <ViewFile>
      </ViewFile>
      <ExportFile>[filename].vnet</ExportFile>
      <ContextID>VPD </ContextID>
    </Entry>
    <Entry>
      <Type>平面图</Type>
      <MainFile>[filename].plt</MainFile>
      <AttachFile>[filename].hit</AttachFile>
      <AttachFile>[filename].dxf</AttachFile>
      <ViewFile>
      </ViewFile>
      <ExportFile>[filename].vnet</ExportFile>
      <ContextID>VPD </ContextID>
    </Entry>
    <Entry>
      <Type>CAD图纸</Type>
      <MainFile>[filename].dwg</MainFile>
      <AttachFile>[filename].tif</AttachFile>
      <ViewFile>
      </ViewFile>
      <ExportFile>[filename].vnet</ExportFile>
      <ContextID>VPD </ContextID>
    </Entry>
  </PackType>
  <!--目录与该目录下的默认文档类型的对应关系节点(Project_File)(配置文件中该类节点数目不限)-->
  <DefaultType>
    <!--<Project_File>
      <ProjectType>$目录类型(即目录模板)或者是关于目录的条件表达式</ProjectType>
      <Type>$目录下默认文档 类型(文档模板)</Type>
    </Project_File>-->
    <Project_File>
      <ProjectType>"$(PROJECTCODE)" = "C"</ProjectType>
      <Type>平面图</Type>
    </Project_File>
    <Project_File>
      <ProjectType>"$(PROJECTCODE)" = "D"</ProjectType>
      <Type>ISO图</Type>
    </Project_File>
    <Project_File>
      <!--下面表达式表示在某个卷册目录的名字等于字符串 建筑图纸,这样名称的目录下的默认文件类型为 FLATPAINT(ANET 的ClassID)-->
      <ProjectType> "$(VOLUMN_CODE)" = "建筑图纸" </ProjectType>
      <Type>FLATPAINT</Type>
    </Project_File>
  </DefaultType>
  <!--运行时需要访问CDMS_Delete表的服务插件, 不包含有开关控制其是否可以运行但开关为闭的插件-->
  <!--同步服务,如果同步服务开关为闭，或不存在同步服务，请注释掉下面的配置-->
  <!--索引服务 -->
  <ServerPlugIn>
    <!--服务名称-->
    <ServerPlugInName>IndexingService</ServerPlugInName>
    <!-- 数据库表中的记录被访问后，数据库字段O_Processed自增的值-->
    <Value>2</Value>
  </ServerPlugIn>
  <!--域集成参数设置 如果没有域集成，请屏蔽该配置，否则会影响程序速度-->
  <!--
  <CDMSSecprovider>
    <AdminName>G7432</AdminName>
    <PassWord>rmnufqPEVJd4vK0PR0QTRg==</PassWord>
    <Secprovider>GEDI</Secprovider>
  </CDMSSecprovider>
  -->

</CDMSDataSourceConfig>