<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CDMSWebTest-20200324055421.mdf;Initial Catalog=aspnet-CDMSWebTest-20200324055421;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="owin:appStartup" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="None"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <!--<httpModules>
      <add name="MyExampleModule" type="AVEVA.CDMS.WebApi.HttpModule222,AVEVA.CDMS.WebApi"/>
    </httpModules>-->
    <httpHandlers>
      <add path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
      <!--防盗链-->
      <add verb="*" path="*.rar" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.doc" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.ppt" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.docx" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.zip" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.xls" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.xlsx" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.pdf" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.dwg" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.rfa" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <add verb="*" path="*.rvt" type="AVEVA.CDMS.WebApi.DaoLian"/>
      <!--<add verb="*" path="*.thm" type="AVEVA.CDMS.WebApi.DaoLian" />-->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--防止预览文件时IIS出现405错误-->
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <!--防止预览文件时IIS出现405错误-->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!--防盗链-->
      <add name="CDMS-DOC-DaoLian" path="*.doc" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-DOC-FILTER" path="*.doc" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-DOCX-DaoLian" path="*.docx" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-DOCX-FILTER" path="*.docx" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-XLS-DaoLian" path="*.xls" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-XLS-FILTER" path="*.xls" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-XLSX-DaoLian" path="*.xlsx" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-XLSX-FILTER" path="*.xlsx" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-PPT-DaoLian" path="*.ppt" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-PPT-FILTER" path="*.ppt" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-RAR-DaoLian" path="*.rar" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-RAR-FILTER" path="*.rar" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-ZIP-DaoLian" path="*.zip" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-ZIP-FILTER" path="*.zip" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-DWG-DaoLian" path="*.dwg" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-DWG-FILTER" path="*.dwg" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-PDF-DaoLian" path="*.pdf" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-PDF-FILTER" path="*.pdf" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-TXT-DaoLian" path="*.txt" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-TXT-FILTER" path="*.txt" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-RFA-DaoLian" path="*.rfa" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-RFA-FILTER" path="*.rfa" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="CDMS-RVT-DaoLian" path="*.rvt" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="CDMS-RVT-FILTER" path="*.rvt" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <!--<add name="all-DaoLian" path="*.pdf" verb="*" type="AVEVA.CDMS.WebApi.DaoLian" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="all-FILTER" path="*" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot% \Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      -->
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".thm" mimeType="application/x-thm"/>
      <mimeMap fileExtension=".unityweb" mimeType="application/x-unityweb"/>
      <mimeMap fileExtension=".log" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".config" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".dgn" mimeType="application/x-dgn"/>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream"/>
    </staticContent>
    <!--URL中可能会包含+号等符号, 出现双重转义序列的情况，下面是解决方法-->
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <caching enabled="false" enableKernelCache="false">
      <profiles>
        <add extension=".pdf" policy="DisableCache" kernelCachePolicy="DisableCache"/>
      </profiles>
    </caching>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>